* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

.title {
  color: #2e2f42;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.96px;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background: #f6f6fe;
  padding: 16px;
}

.item-list-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.item-list {
  width: 360px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  padding-top: 8px;
  padding-left: 16px;
}

.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

/*task-2 hw*/
.gallery-container {
  max-width: 1128px;
  margin: 100px auto;
}

.img-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px 24px;
  align-items: center;
  justify-content: center;
}

img {
  width: 360px;
  height: 300px;
  flex-shrink: 0;
}

/*task-3 hw*/
.input-container {
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background: #fff;
}

#name-input {
  width: 360px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 16px;
}

#name-input:hover,
#name-input:focus {
  border: 1px solid #000;
}

::placeholder {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.title-name-output {
  color: #2e2f42;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.96px;
}

/*task-4 hw*/

.login-form {
  max-width: 400px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-label {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.submit-button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: none;
  background: #4e75ff;
  color: #fff;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.submit-button:hover,
.submit-button:focus {
  background: #6c8cff;
}

/*task-5 hw*/
.widget {
  display: inline-flex;
  padding: 100px 88px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #fff;
  justify-content: center;
  align-items: center;
}

.widget-color {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.change-color {
  color: #fff;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
}

.change-color:hover,
.change-color:focus {
}

/*task-6 hw*/
#controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 32px;
  border-radius: 8px;
  background: #f6f6fe;
}

.input-number {
  color: #2e2f42;
  font-style: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  border: 1px solid #808080;
  width: 150px;
}

.create-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  width: 120px;
  padding: 8px 16px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
}

.create-btn:hover,
.create-btn:focus {
  background: #6c8cff;
}

.destroy-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  width: 120px;
  padding: 8px 16px;
  border-radius: 8px;
  background: #ff4e4e;
  border: none;
}

.destroy-btn:hover,
.destroy-btn:focus {
  background: #ff7070;
}

#boxes {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  gap: 16px;
  padding: 32px;
  border-radius: 8px;
  background: #f6f6fe;
  margin-top: 16px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
